body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

/* forced to use !important here as this is the recommended bugfix for*/
/* a slick-react bug involving images in the carousel */
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
}
